# Whitelisted files and folders
*
!*/
!*.md
!*.yaml
!.gitignore
!scenes
!automations/**

# Ignore folders
nest
image
custom_components
.ssh
logs
*.log
.storage
home-assistant.env
home-assistant.*
.google.token
*.google.token
.spotify-token-cache
.config_entries.json
abodepy_cache.pickle
camera_recording.py

# Ensure these yaml are ignored
secrets.yaml
known_devices.yaml
zones.yaml
ip_bans.yaml
