# Whitelisted files and folders
*
!*.yaml
!.gitignore
!scenes

# Ignore folders
.nest
.image
.custom_components
*.google.token
.ssh
.google.token
logs
*.log
.spotify-token-cache
.storage
.config_entries.json
abodepy_cache.pickle
camera_recording.py
home-assistant.env
home-assistant.*

# Ensure these yaml are ignored
secrets.yaml
known_devices.yaml
zones.yaml
ip_bans.yaml
